<!DOCTYPE html>
<html>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) 
    {
      $scope.count = 0;

      $scope.myFunc = function() 
      {
        $scope.count = $scope.baseNumber + $scope.roll;

        if($scope.checkBox)
        {
          $scope.count = $scope.count + 2;
        }

        if($scope.checkBox2)
        {
          $scope.count = $scope.count + 2;
        }
        
      };

    });
  </script>
  <body ng-app="myApp">
    <div ng-controller="myCtrl">
      <form>
        <p>FirstNumber: <input type="number" ng-model="roll" ng-change="myFunc()"></p>
        <p>Second Number: <input type="number" ng-model="baseNumber" ng-change="myFunc()"></p>
        <p><input type="checkbox" ng-model="checkBox" ng-change="myFunc()"></p>
        <p><input type="checkbox" ng-model="checkBox2" ng-change="myFunc()"></p>
      </form>
      <p>Running total: {{ count }}</p>
      <div style = "align:right">
        <p ng-show="checkBox">Checkbox on</p>
        <p ng-show="checkBox2">Checkbox 2 on</p>
      </div>
    </div>  
  </body>
</html>
