<!DOCTYPE html>
<html>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) 
    {
      $scope.count = 0;

      $scope.myFunc = function() 
      {
        $scope.count = $scope.baseNumber + $scope.roll;

        if($scope.favoredEnemy)
        {
          $scope.count = $scope.count + 2;
        }

        if($scope.bardicPerformance)
        {
          $scope.count = $scope.count + 3;
        }
        
      };

    });
  </script>
  <body ng-app="myApp">
    <div ng-controller="myCtrl">
      <form>
        <p>d20 roll: <input type="number" ng-model="roll" ng-change="myFunc()"></p>
        <p>Attack Bonus: <input type="number" ng-model="baseNumber" ng-change="myFunc()"></p>
        <p>Are you attacking a favored enemy?<input type="checkbox" ng-model="favoredEnemy" ng-change="myFunc()"></p>
        <p>Are you under the effects of a bardic performance?<input type="checkbox" ng-model="bardicPerformance" ng-change="myFunc()"></p>
      </form>
      <p>Running total: {{ count }}</p>
      <div style = "align:right">
        <p ng-show="favoredEnemy">Checkbox on</p>
        <p ng-show="bardicPerformance">Checkbox 2 on</p>
      </div>
    </div>  
  </body>
</html>
